
<% if @posts.any? %>
  <% @posts.each do |post| %>
  <div class='Post'>
    <h2><%= post.title %></h2>
  </div>
  <% end %>


<% else %>
  No posts yet
<% end %>

<%= link_to "Make a Post", new_post_path %>


