// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uploaded-pic {
  max-width: 100%;
  margin-bottom: 20px;
}

.buttons {
  display: inline-block;
}

.bootstrap-tagsinput {
  min-width: 300px;
}

.panel-body {
  font-size: 100%;
}