// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uploaded-pic {
  max-width: 100%;
  margin-bottom: 10px;
}

.buttons .long-text {
  display: none; 
}

@media(min-width: 992px) {
  .buttons .long-text {
    display: inline; 
  }

  .buttons .icon {
    display: none; 
  }
}

.bootstrap-tagsinput {
  min-width: 300px;
}

.panel-body {
  font-size: 100%;
}