<footer>
  <div class="centre">
    <div class="fb-like" data-href="http://instamakermusgrave.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
  </div>
  <p>© Stephan Musgrave 2014</p>
  <% if user_signed_in? %>
  <p><%= "#{current_user.first_name}" %></p>
  <% end %>

</footer>